<a href="https://colab.research.google.com/github/athadis/archana_INFO5502_Spring2022/blob/main/in_class_excercises/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [20]:
result={}
for c in 'google.com':
    if c in result:
        result.update({c:result[c]+1})
    else:
        result.update({c:1})
print(result)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [21]:
nums=[1,3,5,8,6,2]
sum=0
for num in nums:
    sum+=num
print(sum)

25

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [18]:
s='restart'
result = s[0]+s[1:].replace(s[0],'$')
print(result)

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [17]:
a=input('Enter the value of a: ')
b=input('Enter the value of b: ')
S=3.14*(1+int(a)/int(b))**3
print(S)

Enter the value of a: 9
Enter the value of b: 7
37.49690962099125

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result=dic1.copy()
result.update(dic2)
result.update(dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [14]:
t= (25,35,47,98,89)
e = 25
if e in t:
    print('element exits in tuple')
else:
    print('element does not exit')

element exits in tuple

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [15]:
s={23,48,76,2,18,23}
print('Max is {} and min is {}'.format(max(s), min(s)))

Max is 76 and min is 2

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [13]:
import random

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
random.shuffle(student_list)

group_count=6;
members_in_group= int(len(student_list)/group_count)

result=[student_list[i*members_in_group:(i+1)*members_in_group] for i in range(6)]
 
print('The student groups are: {}'.format(result))

The student groups are: [['ds0814', 'nv0234', 'dr0609', 'kg0569', 'sk1313'], ['sm1907', 'jl1252', 'sk1390', 'vb0218', 'sa1198'], ['av0659', 'ak0956', 'vm0377', 'sb1357', 'pr0353'], ['ms1500', 'sg1297', 'ak0934', 'nm0618', 'kg0470'], ['aos0040', 'ja0964', 'sm1640', 'sk1386', 'sk1458'], ['fh0141', 'hy0232', 'gn0108', 'bg0320', 'sc1229']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [12]:
a = [1,2,1,1,5,9,8,9,11]
#a=[]
resultSet = set({})
for x in a:
    if(a.count(x)>1):
        resultSet.add(x)

if len(resultSet)>0:
     print(resultSet)
else:
    print(-1)

{1, 9}

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [24]:
from datetime import date, timedelta

year =2022
sundays=[]

dt= date(year,1,1)
dt+= timedelta(6-dt.weekday()) # dt.weekday() returns the index of current date. We need to add the difference in indices to get first sunday

while dt.year == year:
    sundays.append(str(dt))
    dt+=timedelta(7) # add 7 days to the current date to get the next sunday
    
print('sundays of the given year are {}'.format(sundays))

sundays of the given year are ['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23', '2022-01-30', '2022-02-06', '2022-02-13', '2022-02-20', '2022-02-27', '2022-03-06', '2022-03-13', '2022-03-20', '2022-03-27', '2022-04-03', '2022-04-10', '2022-04-17', '2022-04-24', '2022-05-01', '2022-05-08', '2022-05-15', '2022-05-22', '2022-05-29', '2022-06-05', '2022-06-12', '2022-06-19', '2022-06-26', '2022-07-03', '2022-07-10', '2022-07-17', '2022-07-24', '2022-07-31', '2022-08-07', '2022-08-14', '2022-08-21', '2022-08-28', '2022-09-04', '2022-09-11', '2022-09-18', '2022-09-25', '2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23', '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20', '2022-11-27', '2022-12-04', '2022-12-11', '2022-12-18', '2022-12-25']